<!DOCTYPE html>
<html>
<head>
    <title>Login Admin - ELOHIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>

<body class="center-page">

<div class="card card-small">

    <img src="/static/logo.png" class="logo">

    <h2>ELOHIM ADMIN</h2>

    <form method="POST" action="/login">

        <input type="text" name="usuario" placeholder="Usuario" required>

        <input type="password" name="password" placeholder="Contraseña" required>

        <button type="submit">Ingresar</button>

    </form>

</div>

</body>
</html>