<!DOCTYPE html>
<html>
<head>
    <title>Registro - ELOHIM Coffee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">

</head>

<body>

<div class="card">

    <img src="/static/logo.png" class="logo">

    <h1>ELOHIM Coffee</h1>
    <p>Registro de tarjeta de fidelidad</p>

    <form action="/registrar" method="POST">

        <input type="text"
               name="nombre"
               placeholder="Nombre"
               required>

        <input type="text"
               name="apellido"
               placeholder="Apellido"
               required>

        <select name="sucursal" required>
            <option value="">Selecciona una sucursal</option>
            <option value="Peto">Peto</option>
            <option value="Tekax">Tekax</option>
        </select>

        <input type="tel"
               name="telefono"
               placeholder="Teléfono (10 dígitos)"
               pattern="[0-9]{10}"
               maxlength="10"
               inputmode="numeric"
               required>

        <button type="submit">Crear tarjeta</button>

    </form>

</div>

</body>
</html>